*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    position:relative;
    height:200px;
    width:200px;
    box-shadow: -10px 10px 10px;

}
.container-1{
    background-color: red;
    transform: translate(246px,206px) rotate(45deg);
    box-shadow: 10px 10px rgb(24, 24, 21);
    background-image: url("https://imgs.search.brave.com/KwwJA-64hV82kn6SIHw8v5sUSNPG-wtNkbAYR2UFQ80/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWcu/bWFnbmlmaWMuY29t/L3ByZW1pdW0tcGhv/dG8vYWJzdHJhY3Qt/bmF0dXJlLWJva2Vo/LWJhY2tncm91bmQt/Ymx1ci1jb2xvcmZ1/bC1ib2tlaF8xMDI4/OTM4LTE3MzQyMS5q/cGc_c2VtdD1haXNf/aHlicmlkJnc9NzQw/JnE9ODA");
}
.container-2{
    height:260px;
    width:260px;
    background-color: rgb(0, 38, 255);
    transform: translate(0,60px) rotate(45deg);
    margin:100px 0px 0px 400px;
    box-shadow: 10px 10px rgb(22, 22, 21);
    background-image: url("https://imgs.search.brave.com/dhszCViSvokh3Nlvbf6pPBBHQXr-UXNHKqC6olHKrM4/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wNDkv/ODU1LzUzMS9zbWFs/bC9uYXR1cmUtYmFj/a2dyb3VuZC1oaWdo/LXJlc29sdXRpb24t/d2FsbHBhcGVyLWZv/ci1hLXNlcmVuZS1h/bmQtc3R1bm5pbmct/dmlldy1mcmVlLXBo/b3RvLmpwZw");
}

.container-3{
    background-color: rgb(228, 30, 211);
    transform:translate(250px,20px) rotate(45deg);
    box-shadow: 10px 10px rgb(5, 5, 5);
    background-image: url("https://imgs.search.brave.com/cXCxPl_nxn43yuC8A-K2LFTF0jAl0vSAA5EjSWkclKg/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wNjYv/ODExLzU1MS9zbWFs/bC9zcHJpbmctYmxv/c3NvbXMtaW4tbmF0/dXJlLXMtZ2FyZGVu/LWZsb3JhbGdyYXBo/eS1zb2Z0LWxpZ2h0/LWdyZWVuLWJhY2tn/cm91bmQtZnJlZS1w/aG90by5qcGVn");
}
    

.container-4{
    background-color: rgb(23, 216, 101);
    transform: translate(609px,-183px) rotate(45deg);
    box-shadow: 10px 10px rgb(7, 8, 8);
    background-image: url("https://imgs.search.brave.com/AL6g0DXKjpS9oSd4qcPEHjXz2Q1V2qFKqWA69cKfxvs/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wNzMv/NjEwLzMwNS9zbWFs/bC9uYXR1cmUtYmFj/a2dyb3VuZC1uYXR1/cmUtd2FsbHBhcGVy/LXNjZW5pYy1tb3Vu/dGFpbi12YWxsZXkt/d2l0aC1hLWZsb3dp/bmctcml2ZXItYXQt/c3Vuc2V0LWJhdGhl/ZC1pbi1nb2xkZW4t/bGlnaHQtZnJlZS1w/aG90by5qcGc");
}

.container-5{
    background-color: rgb(220, 175, 29);
    transform: translate(610px,-760px) rotate(45deg);
    box-shadow: 10px 10px rgb(14, 13, 13);
    background-image: url("https://imgs.search.brave.com/JhK76JVYsGmoQNzFiq5oNaq6vGYuLaGvqXC7aPtem8c/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWcu/bWFnbmlmaWMuY29t/L3ByZW1pdW0tcGhv/dG8vc3ByaW5nLWJl/YXV0aWZ1bC1iYWNr/Z3JvdW5kLXdpdGgt/Z3JlZW4tanVpY3kt/eW91bmctZm9saWFn/ZS1lbXB0eS13b29k/ZW4tdGFibGUtbmF0/dXJlLW91dGRvb3It/bmF0dXJhbC10ZW1w/bGF0ZS13aXRoLWJl/YXV0eS1ib2tlaC1z/dW5saWdodF8xMDI4/OTM4LTY4MDI5Lmpw/Zz9zZW10PWFpc19o/eWJyaWQmdz03NDAm/cT04MA");
}
 

